#page-room {
  header {
    padding: 20px;
    border-bottom: 1px solid #e2e2e2;

    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 45px;
        cursor: pointer;
      }

      > div {
        display:flex;
        gap: 16px;

        button {
          height: 40px;
        }

      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;

    .room-title {
      margin: 32px 0 24px;
      display: flex;
      align-items: center;


      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: #29292e;
      }

      span {
        margin-left: 16px;
        background: #e559f9;
        border-radius: 9999px;
        padding: 8px 16px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        background: #fefefe;
        box-shadow: 0 2px 12px rgba(0,0,0, 0.4);
        resize: vertical;
        min-height: 130px;
      }
      
    

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
        
        .user-info {
          display: flex;
          align-items: center;

          img{
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }

          span {
            margin-left: 8px;
            color: #29292e;
            font-weight: 500;
            font-size: 14px;
          }
        }
        > span {
          font-size: 14px;
          color: #737380;
          font-weight: 500;


          button {
            background: transparent;
            border: 0;
            color: #835AFD;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }

    .question-list {
      margin-top: 32px;

      .room-box-div{

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 8px;
        width: fit-content;
        .room-item-div {
          cursor: pointer;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          background: #835afd42 ;
          border-radius: 8px;
          height: 80px;
          width: 300px;
          transition: all 0.2s;

          &:hover {
            background:#835AFD;
            color:white;
          }
        }
        
        .closed {
          background: #737380;
          color: white;

          &:hover {
          background: #737380;
          opacity: 0.9;
          color: black;
          }
        }
      }

      .empty-list {
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60vw;
        gap: 60px;
        
        >h1 {
          color: rgba(0,0,0, 0.8);
        }
        >img {
          width: 300px;
          opacity: 0.9;
        }
      }

 
    }
  }
}
